@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Sora:wght@100&display=swap'); */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (min-width: 961px) {

.appLoading {
    display: flex;
    margin: 30px;
    width: 200px;
}

.earlyAccess {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.getEarlyAccess {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
}

.getEarlyAccessWord {
    color: #E00000;
    width: 205px;
    height: 36px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
}

.bePart {
    width: 516px;
    height: 57px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.earlyWords {
    width: 603px;
    height: 114px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
}

.mobileEarlyWords {
    display: none;
}

.subscribeInput {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    justify-content: center;
}

input::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #A5A5A5;
    padding-left: 20px;
}

input[type="email"] {
    background: #FFFFFF;
    border-radius: 30px;
    width: 357px;
    height: 68px;
    margin-right: 15px;
    padding-left: 25px;
}

.submit {
    width: 30%;
    height: 68px;
    background: #F70000;
    border-radius: 30px;
    color: #ffffff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    border: none;
}

.allSubmit {
    padding-top: 15px;
}
}


@media only screen and (min-width: 301px) and (max-width: 550px) {

    .earlyAccess {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .appLoading {
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }

    .appLoading img {
        height: 400px;
    }

    .earlyWords {
        display: none;
        width: full;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 38px;
        letter-spacing: 0.01px;
        color: #737373;
    }

    .mobileEarlyWords {
        width: 370px;
        height: 120px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.2px;
        color: #737373;
    }

    .mobileEarlyWords span {
        color: #252B42;
        font-size: 15px;
        font-weight: 800;
    }
    .bePart {
        width: 300px;
        height: 57px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 50px;
        letter-spacing: 0.2px;
        color: #252B42;
    }

    .getEarlyAccessWord {
        color: #E10000;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
    }

    .getEarlyAccess {
        
        font-size: 14px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .allSubmit {
        font-size: 7px;
        width: full;
        margin-top: 20px;
    }

    input[type="email"] {
        background: #FFFFFF;
        border-radius: 30px;
        width: 70%;
        height: 50px;
        margin-right: 5px;
        padding-left: 20px;
    }
    .submit {
        width: 28%;
        height: 50px;
        background: #F70000;
        border-radius: 30px;
        color: #ffffff;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 36px;
        letter-spacing: 0.1px;
        border: none;
    }
}

@media only screen and (min-width: 551px) and (max-width: 960px) {

    .earlyAccess {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .getEarlyAccess {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    .earlyWords {
        width: auto;
        height: 114px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 38px;
        letter-spacing: 0.01px;
        color: #737373;
        display: none;
    }

    .mobileEarlyWords {
        width: full;
        height: 120px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 45px;
        letter-spacing: 0.2px;
        color: #737373;
    }

    .mobileEarlyWords span {
        color: #252B42;
        font-size: 32px;
        font-weight: 800;
    }

    .bePart {
        width: 500px;
        height: 57px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        line-height: 50px;
        letter-spacing: 0.2px;
        color: #252B42;
    }


    .getEarlyAccessWord {
        font-size: 30px;
        width: 450px;
        font-weight: 700;
        font-family: 'Montserrat';
        color: #E00000;
    }

    .allSubmit {
        font-size: 7px;
        display: flex;
        margin-top: 80px;
    }

    input[type="email"] {
        background: #FFFFFF;
        border-radius: 30px;
        width: 400px;
        height: 68px;
        margin-right: 5px;
        padding-left: 20px;
    }
    .submit {
        width: 200px;
        height: 68px;
        background: #F70000;
        border-radius: 30px;
        margin-left: 20px;
        color: #ffffff;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.1px;
        border: none;
    }

    .appLoading {
        display: none;
    }
}