@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media only screen and (min-width: 961px) {

.allExplore {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
}

.exploreWords {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
    padding-left: 50px;
}

.exploreHeading {
    color: #E10000;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.orderFrom {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.restaur {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.orderFor {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
}

.track {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
}


.appHome {
    display: flex;
    margin-right: 40px;
    padding-right: 50px;
}

}

@media only screen and (min-width: 301px) and (max-width: 550px) {

    .allExplore {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .exploreWords {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: full;
    }

    .exploreHeading {
        height: 36px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.1px;
        color: #E10000;
    }

    .orderFrom {
        width: 300px;
        height: 29px;      
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 29px;
        letter-spacing: 0.2px;       
        color: #252B42;
        margin-top: 10px;
    }

    .restaur {
        width: 300px;
        height: 29px;     
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 29px;
        letter-spacing: 0.2px;      
        color: #252B42;
        margin-bottom: 20px;
    }

    .orderFor {
        width: full;
        height: 30px; 
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.2px;
        color: #737373;
    }

    .track {
        width: full;
        height: 30px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
       letter-spacing: 0.2px;
        color: #737373;
    }

    .appHome {
        display: flex;
        justify-content: center;
        align-self: center;
        margin: 15px;
    }

    .appHome img {
        width: 179.43px;
        height: 314px;
    }

}

@media only screen and (min-width: 551px) and (max-width: 960px) {

   
    .allExplore {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .exploreWords {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .exploreHeading {
        width: 450px;
        height: 36px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        letter-spacing: 0.1px;
        color: #E10000;
    }

    .orderFrom {
        width: full;
        height: 29px;      
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 29px;
        letter-spacing: 0.2px;       
        color: #252B42;
        margin-top: 10px;
    }

    .restaur {
        width: full;
        height: 29px;     
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 29px;
        letter-spacing: 0.2px;      
        color: #252B42;
        margin-bottom: 20px;
    }

    .orderFor {
        width: full;
        height: 30px; 
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 30px;
        letter-spacing: 0.2px;
        color: #737373;
    }

    .track {
        width: full;
        height: 30px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 30px;
        letter-spacing: 0.2px;
        color: #737373;
    }

    .appHome {
        display: flex;
        justify-content: center;
        align-self: center;
        margin: 15px;
    }

    .appHome img {
        width: 179.43px;
        height: 314px;
    }

}