@import url('https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap');

:root{
    --mainColor: #ffffff;
    --mainColorLight: #ffffff;
    --secondaryColor: #E00000;
    --textColor: #ffffff;
}

@media only screen and (min-width: 961px) {

    .main-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('../images/navbar_background.png');
        background-size: cover;
        color: var(--textColor);
        height: 500px;
        font-family: 'Sora';
        font-style: normal;
        font-size: 20px;
        height: 670px;
    }

 /* .main-header h1{
        display: flex;
        justify-content: center;
        color: var(--mainColor);
        width: 1180px;
        align-self: center; 
        
        font-style: normal;
        font-size: 48px;
        font-weight: 800; 
    } */

    .look {
        font-size: 48px;
        font-weight: 800; 
        font-family: 'Sora';
        width: 1180px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    .the {
        font-size: 48px;
        font-weight: 800; 
        font-family: 'Sora';
        width: 1180px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
    }

    .go4uIs {
        font-size: 24px;
        font-weight: 400;
        font-family: 'Sora';
        width: 735px;
        margin: 30px;
    }


    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        flex-direction: row;
        margin: 30px;
    }

    .playStore {
        display: flex;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
        background-color: transparent;
        border-radius: 25px;
        margin-right: 20px;
        width: 227.89px;
        height: 65px;
        border-radius: 31.3253px;
        background-color: #E00000;
        
    }

    .playStore:hover {
        background-color: red;
    }
    .playStoreLink {
        color: white;
        text-decoration: none;
        font-size: 21px;
        font-weight: 700;
        font-family: 'Sora';
    }

    .appStore {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        text-decoration: none;
        background-color: transparent;
        border: 1.5px solid white;
        border-radius: 25px;
        margin-left: 20px;
        width: 227.89px;
        border-radius: 31.3253px;
        height: 65px;
    }

    .appStoreLink {
        text-decoration: none;
        color: white;
        font-size: 21px;
        font-weight: 700;
        font-family: 'Sora';
    }

    .appStore:hover {
        background-color: red;
    }  
}


@media only screen and (min-width: 301px) and (max-width: 600px) {

    .main-header {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       background-image: url('../images/navbar_background.png');
       background-size: cover;
       color: var(--textColor);
       height: 250px;
       width: full;
       font-family: 'Sora';
       font-style: normal; 
   }

   /* .look {
    font-size: 15px;
    font-family: 'Sora';
    font-style: normal;
    width: full;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 1px solid red;
}

.the {
    font-size: 12px;
    font-weight: 800; 
    font-family: 'Sora';
    width: full;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 1px solid red;
} */

.intro {
    display: flex;
    flex-direction: column;
    width: full;
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    
}

.go4uIs {
    font-size: 12px;
    font-weight: 400;
    line-height: 36px;
    font-family: 'Sora';
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

   .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    pointer-events: none;
}

.playStore {
    display: flex;
    width: 45%;
    border-radius: 31.3253px;
    margin: 5px;
    background-color: #E00000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.playStore a {
    font-size: 20px;
    font-weight: 800;
    color: #ffffff;
    text-decoration: none;
}

.playStore:hover {
    background-color: red;
}

.appStore {
    display: flex;
    background-color: transparent;
    border: 1.5px solid white;
    width: 45%;
    border-radius: 31.3253px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin: 5px;
}

.appStore a {
    font-size: 20px;
    font-weight: 800;
    color: #ffffff;
    text-decoration: none;

}

.appStore:hover {
    background-color: red;
}
 }

 @media only screen and (min-width: 601px) and (max-width: 960px) {
    .main-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('../images/navbar_background.png');
        background-size: cover;
        color: var(--textColor);
        height: 300px;
        width: 100%;
        font-family: 'Sora';
        font-style: normal;
        font-weight: 50;
        font-size: 10px;
        padding-top: 70px;
        line-height: 1.2;   
    }
 
    .look {
        font-size: 20px;
        height: 10px;
        line-height: 1.2em;
    }
 
    .the {
        font-size: 20px;
        padding-right: 0px;
    }
 
    .main-header .look{
        display: flex;
        justify-content: center;
        color: var(--mainColor);
        line-height: 9px;
        width: 500px;
        height: 40px;
        font-weight: 800;
        top: 12px;
        align-self: center;
    }
 
    .main-header .the{
        display: flex;
        justify-content: center;
        color: var(--mainColor);
        line-height: 9px;
        width: full;
        height: 40px;
        font-weight: 800;
        top: 12px;
        align-self: center;
    }

    .main-header .go4uIs {
        font-size: 18px;
        font-weight: 800;
        width: full;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Sora';
        font-style: normal;
       }

    .buttons {
        display: flex;
        justify-content: center;
    }

    .playStore {
        display: inline-block;
        padding: 8px 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: white;
        background-color: transparent;
        border-radius: 25px;
        border: 1.5px solid white;
        margin-right: 20px;
        width: 170px;
        border-radius: 31.3253px;
    }

    .playStore:hover {
        background-color: red;
    }
    .playStoreLink {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }

    .appStore {
        display: inline-block;
        padding: 8px 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: transparent;
        border: 1.5px solid white;
        border-radius: 25px;
        margin-left: 20px;
        width: 170px;
        border-radius: 31.3253px;
    }

    .appStoreLink {
        text-decoration: none;
        color: white;
        font-size: 20px;
    }

    .appStore:hover {
        background-color: red;
    }
 }