@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100&display=swap');

:root{
    --mainColor: #ffffff;
    --mainColorLight: #ffffff;
    --secondaryColor: red;
    --textColor: #ffffff;
}

.main-header {
    padding: 200px;
    display: flex;
    flex-direction: column;
    border: 50px;
    background-image: url('../images/navbar_background.png');
    background-size: cover;
    color: var(--textColor);
    height: 500px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 50;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
     .main-header {
        padding: 0px;
        display: flex;
        flex-direction: column;
        border: 1px;
        background-image: url('../images/navbar_background.png');
        background-size: cover;
        color: var(--textColor);
        height: 300px;
        width: 100%;
        font-family: 'Sora';
        font-style: normal;
        font-weight: 50;
        font-size: 10px;
        padding-top: 70px;
        line-height: 1.2;
        
    }

    .look {
        font-size: 10px;
        height: 10px;
        line-height: 1.2em;
        border: solid black 5px;
    }
    .go4uIs {
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0px;
        padding-bottom: 15px;
        border: solid black 5px;
    }
    .the {
        font-size: 10px;
        border: solid black 5px;
        padding-right: 0px;
    }
    .main-header .look{
        display: flex;
        justify-content: center;
        color: var(--mainColor);
        line-height: 9px;
        width: 300px;
        height: 50px;
        font-weight: 800;
        top: 12px;
        align-self: center;
    }

    .main-header .the{
        display: flex;
        justify-content: center;
        color: var(--mainColor);
        line-height: 9px;
        width: 300px;
        height: 50px;
        font-weight: 800;
        top: 12px;
        align-self: center;
    }

    /* .main-header .go4uIs{
        display: flex;
        justify-content: center;
        color: var(--mainColor);
        line-height: 9px;
        width: full;
        height: 20px;
        font-weight: 800;
        font-size: 14px;
        top: 12px;
        align-self: center;
    } */
  }

div .main-header h1{
    display: flex;
    justify-content: center;
    color: var(--mainColor);
    line-height: 50px;
    width: 1000px;
    height: 80px;
    font-weight: 800;
    top: 132px;
    align-self: center;  
}

.go4uIs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.main-header p {
    display: flex;
    justify-content: center;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    color: #ffffff;
}

.buttons {
    display: flex;
    justify-content: center;
}

.playStore {
    display: inline-block;
    padding: 8px 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: transparent;
    border-radius: 25px;
    border-color: blue;
    border: 1.5px solid white;
    margin-right: 20px;
    width: 170px;
    border-radius: 31.3253px;
}

.playStore:hover {
    background-color: red;
}
.playStoreLink {
    color: white;
    text-decoration: none;
}

.appStore {
    display: inline-block;
    padding: 8px 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: green;
    background-color: transparent;
    border: 1.5px solid white;
    border-radius: 25px;
    margin-left: 20px;
    width: 170px;
    border-radius: 31.3253px;
}

.appStoreLink {
    text-decoration: none;
    color: white;
}

.appStore:hover {
    background-color: red;
}