@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

@media only screen and (min-width: 301px) and (max-width: 550px) {
  .responsiveHeader {
    background-image: url('../images/navbar_background.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 418px;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    margin-left: 10px;
    width: 359px;
    height: 96px;
  }

  .comingSoon {
    color: #ffffff;
    margin-left: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 196px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    text-align: center;

  }

  .buttons {
    display: flex;
    flex-direction: row;
  }

  .buttons button {
    background: #E10000;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
    border: none;
    width: 151.01px;
    height: 43.07px;
    border-radius: 20.7577px;
  }

  .buttons button:first-child {
    margin-right: 10px;
  }

  .buttons button:nth-child(2) {
    background: transparent;
    border: 0.993975px solid #FFFFFF;
  }
}

@media only screen and (min-width: 551px) and (max-width: 767px) {
  .responsiveHeader {
    background-image: url('../images/navbar_background.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    height: 400px;
  }
  .go4u {
    color: #ffffff;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 76px;
    display: flex;
    margin-left: 10px;
    
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    margin-left: 10px;
  }

  .comingSoon {
    color: #ffffff;
    font-size: 20px;
    margin-left: 10px;
    font-weight: 400;
    margin-top: 10px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    margin-top: 20px;

  }

  .buttons button {
    background: #E10000;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 20px;
  }

  .buttons button:first-child {
    margin-right: 10px;
  }
}
