 @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --mainColor: #ffffff;
    --mainColorLight: #ffffff;
    --secondaryColor: #E00000;
    --textColor: #000;
}

@media only screen and (min-width: 961px) {

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 1rem;
  }

  .logo {
    display: flex;
    width: 176.09px;
    height: 75.7px;
  }
  
  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
  }
  
  .links a {
    color: #252B42;
    letter-spacing: 0.2px;
    line-height: 28px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
  }
  
  .links a:hover {
    color: #E10000;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: full;
    height: 120px;
  }
}

@media only screen and (min-width: 301px) and (max-width: 600px) {

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 1rem;
  }
  
  .links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #000;
    padding-right: 0px;
    width: 80%;
  }

  .logo img {
    width: 40%;
  }
  
  .links a {
    color: #000;
    margin: 0px;
    font-size: 15px;
    text-decoration: none;
  }
  
  .links a:hover {
    color: #E00000;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 70px;
    align-items: center;
  }
}

@media only screen and (min-width: 601px) and (max-width: 960px) {
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 1rem;
  }
  
  .links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #000;
    padding-right: 0px;
    width: 80%;
  }
  
  .links a {
    color: #000;
    margin: 0 1rem;
    font-size: 1.2rem;
    text-decoration: none;
  }
  
  .links a:hover {
    color: #E00000;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}