@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 25vh;
  background: #ffffff;
}

.nav-link {
  text-decoration: none;
  color: #252B42;
  letter-spacing: 0.2px;
  line-height: 28px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
}

.nav-link:hover {
  color: #E10000;
}

.nav_menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5.2rem;
}

.nav_toggler div {
  width: 39px;
  height: 7px;
  margin: 0.4rem;
  background: #000000;
  transition: 0.4s ease-in;
}

ul {
  list-style: none;
}

.nav_toggler {
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
      height:60px;
      background: none;
  }

  .nav-logo img {
      height: 50px;
      display: flex;
      align-items: center;
  }

  .nav-link {
      text-decoration: none;
      color: #252B42;
      letter-spacing: 0.2px;
      line-height: 18px;
      font-size: 24px;
      font-weight: 600;
      display: flex;
    }

    .nav-link:hover {
      color: #E10000;
    }
  
  ul {
      list-style: none;
  }

  .nav_toggler {
      display: block;
  }

  .nav_menu {
      position: absolute;
      top: 7vh;
      right: 0;
      width: 100%;
      height: 60vh;
      background: grey;
      flex-direction: column;
      transform: translateX(100%);
      transition: 0.5s ease-in;
  }
}

.nav_active {
  transform: translateX(0);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-14px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-14px, -5px);
}

