@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media only screen and (min-width: 961px) {
.partnership {
  background: #252B42;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partnershipInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  letter-spacing: 0.2px;
  padding-top: 50px;
}

.partnershipInfo h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
}

.partnershipInfo p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
}

.getInTouchButton a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
}

.partnershipInfo .getInTouchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E10000;
  width: 170px;
  border-radius: 10px;
  height: 64px;
  font-weight: 800;
}

}

@media only screen and (min-width: 301px) and (max-width: 550px) {
  
  .partnership {
    background: #252B42;
    width: full;
    height: 328px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .partnershipInfo h2 {
    width: 367px;
    height: 36px;  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;  
    letter-spacing: 0.1px;  
    color: #FFFFFF;
  }
  
  .partnershipInfo p {
    width: 367px;
    height: 30px;   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px; 
    letter-spacing: 0.2px;
    color: #FFFFFF;
  }

  .getInTouchButton  {
    background-color: #E10000;
    width: 170px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-top: 20px;
  }

  .getInTouchButton a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    
  }

}

@media only screen and (min-width: 551px) and (max-width: 960px) {

  .partnership {
    clear: both;
    background: #252B42;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .partnershipInfo h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #ffffff;
    width: full;
  }
  
  .partnershipInfo p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
  }

  .getInTouchButton  {
    background-color: #E10000;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 50px;
  }

  .getInTouchButton a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
  }

  /* .partnershipInfo {
    text-align: left;
  } */
}