@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@media only screen and (min-width: 961px) {

.rider {

    display: flex;
    justify-content: space-around;
    margin-top: 20px;
   
}

.riderImage {
   display: flex;
}

.earnInfo {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.earn {
    color: #E10000;
    padding-bottom: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
}

.moreInfo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;    
}

.moreInfo h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;   
    color: #252B42;    
}

.applyBox {
    background: #F70000;
    box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
    border-radius: 30px;
    width: 50%;
    height: 68px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.applyBox a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 24px;
}
}


@media only screen and (min-width: 301px) and (max-width: 600px) {

    .rider {
        clear: both;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .earn {
        color: #E10000;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 50px;
    }

    .riderImage {
        float: left;
        padding-left: 20px;
        padding-bottom: 50px;
        padding-top: 20px;
        width: 100%;
    }

    .riderPic {
        width: 300px;
        height: auto;
    }

    .earnInfo {
        width: 100%;
        padding-left: 20px;
        
    }

    .moreInfo h2 {
        font-size: 20px;
        font-weight: 800;
        color: #252B42;
    }

    .moreInfo p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 28px;
        text-align: justify;
        letter-spacing: 0.2px;
        color: #737373;        
    }

    .applyBox {
        background: #F70000;
        box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
        border-radius: 30px;
        width: 50%;
        height: 68px;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex; 
        justify-content: center;
        align-items: center;
    }

    .applyBox a {
        text-decoration: none;
        color: #FFFFFF;
        font-weight: 800;
        font-size: 24px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 960px) {
    .rider {
        /* clear: both; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .riderImage {
        /* float: left; */
        padding-left: 20px;
        padding-bottom: 50px;
        padding-top: 20px;
        width: auto;
    }

    .riderPic {
        width: 300px;
        height: auto;
    }

    .earnInfo {
        width: auto;
        padding-left: 20px;
        
    }

    .moreInfo h2 {
        font-size: 35px;
        font-weight: 800;
    }

    .moreInfo p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        text-align: justify;
        letter-spacing: 0.2px;
        color: #737373;        
    }

    .earn {
        color: #E10000;
        padding-bottom: 20px;
        font-family: 'Montserrat';
        font-style: normal;
        font-size: 50px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0.1px;
    }

    .applyLink {
        text-decoration: none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.1px;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .applyBox {
        background: #F70000;
        box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
        border-radius: 30px;
        width: 250px;
        height: 68px;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex; 
        justify-content: center;
        align-items: center;
    }

    .applyBox a {
        text-decoration: none;
        color: #FFFFFF;
        font-weight: 800;
        font-size: 24px;
    }
}