@media screen and (min-width: 600px) {
    .social-media-icons {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .social-media-icons {
        display: flex;
        border: 3px solid black;
        width: 175px;
        justify-content: space-around;
    }
    .facebook {
        margin-top: 5px;
    }
    .twitter {
        margin-top: 5px;
    }
    .instagram {
        margin-top: 2px;
    }
}